* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #283c4f;
  color: white;
}

.game-title-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-top: 20px;
}

.title {
  font-family: "Press Start 2P", cursive;
}

#gameboard {
  display: grid;
  grid-template-rows: repeat(3, 135px);
  grid-template-columns: repeat(3, 135px);
}

.cell {
  color: white;
  font-size: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #009bff;
  border-bottom: 2px solid #009bff;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.result-message {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

button {
  display: inline-block;
  background-color: #009bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 32px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.replay-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.replay-button:hover {
  background-color: #33a6ff;
}

.cell:hover {
  background-color: #405469;
}

.cell {
  background-color: #283c4f;
  transition: background-color 0.3s ease;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #888;
  border-radius: 20px;
  width: 360px;
  height: 370px;
  text-align: center;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.modal-title {
  font-size: 28px;
}

.players {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
